# Включаем README
include README.md

# Рекурсивно включаем все файлы из папки assets
recursive-include assets *

# Включаем файлы конфигурации
include configs/.env
include configs/optimized_params.json
include configs/settings.json

# Включаем файл с данными о сделках
include database/trade_entry_data.json